<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    
    <div class="angular-app container" id="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">

        <div class="items-search">
             <span>Number of Items: {{notebooks.length}}</span>

             <div class="input-group mb-3">
                <input type="text" id="query" ng-model="query" class="form-control" placeholder="Search Query..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Search</span>
                </div>
            </div>

            <select class="form-control" ng-model="orderList">
            <option value="keyword">By name</option>
            <option value="-result_size">Newest</option>
            <option value="result_size">Oldest</option>
        </select>
        </div>

        <div class="items-list-wrap">
            <div class="row item-wrap" ng-repeat="notebook in notebooks | filter:query | orderBy: orderList">
                    <div class="col-lg-4 item-image">
                           <img class="card-img-top" src="image.png" alt="Card image cap">             
                    </div>
                    <div class="col-lg-6 item-desc">
                             name: {{notebook.keyword}}<br />
                            procesor: {{notebook.result_size}}<br />
                            <div class="right top">{{notebook.furnishing}}</div>
                    </div>
                    <div class="col-lg-2 item-details">
                        
                    </div>


            </div>
        </div>
       
        
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> 
    <script>
        var notebooks = angular.module('notebooks', []);

            notebooks.controller('NotebookListCtrl', function ($scope) {
                $scope.notebooks = [
                    {
                        "keyword": "Balcony",
                         "result_size": 1,
                         "furnishing": "Furnished"
                    },
                    {
                         "keyword": "Orchard",
                         "result_size": 5,
                         "furnishing": "Fully furnished"
                    },
                    {
                         "keyword": "Apple",
                         "result_size": 6,
                         "furnishing": "Fully furnished"
                    }
                ];
                $scope.orderList = "keyword";
            });
    </script>
</body>
</html>