<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    
    <div id="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
        <input type="text" id="query" ng-model="query" />
        <select ng-model="orderList">
            <option value="name">By name</option>
            <option value="-age">Newest</option>
            <option value="age">Oldest</option>
        </select>
        <ul id="notebook_ul">
            <li ng-repeat="notebook in notebooks | filter:query | orderBy: orderList">
                name: {{notebook.name}}<br />
                procesor: {{notebook.procesor}}<br />
                <div class="right top">{{notebook.age}}</div>
            </li>
        </ul>
        <span>Number of notebooks: {{notebooks.length}}</span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> 
    <script>
        var notebooks = angular.module('notebooks', []);

            notebooks.controller('NotebookListCtrl', function ($scope) {
                $scope.notebooks = [
                    {
                        "name": "Lenovo",
                        "procesor": "Intel i5",
                        "age": 2011
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel i7",
                        "age": 2010
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel core 2 duo",
                        "age": 2008
                    },
                    {
                        "name": "HP",
                        "procesor": "Intel core 2 duo",
                        "age": 2012
                    },
                    {
                        "name": "Acer",
                        "procesor": "AMD",
                        "age": 2006
                    },
                    {
                        "name": "Lenovo",
                        "procesor": "Intel i5",
                        "age": 2009
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel i7",
                        "age": 2008
                    },
                    {
                        "name": "Lenovo",
                        "procesor": "Intel i5",
                        "age": 2011
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel i7",
                        "age": 2010
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel core 2 duo",
                        "age": 2008
                    },
                    {
                        "name": "HP",
                        "procesor": "Intel core 2 duo",
                        "age": 2012
                    },
                    {
                        "name": "Acer",
                        "procesor": "AMD",
                        "age": 2006
                    },
                    {
                        "name": "Lenovo",
                        "procesor": "Intel i5",
                        "age": 2009
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel i7",
                        "age": 2008
                    },
                    {
                        "name": "Lenovo",
                        "procesor": "Intel i5",
                        "age": 2011
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel i7",
                        "age": 2010
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel core 2 duo",
                        "age": 2008
                    },
                    {
                        "name": "HP",
                        "procesor": "Intel core 2 duo",
                        "age": 2012
                    },
                    {
                        "name": "Acer",
                        "procesor": "AMD",
                        "age": 2006
                    },
                    {
                        "name": "Lenovo",
                        "procesor": "Intel i5",
                        "age": 2009
                    },
                    {
                        "name": "Toshiba",
                        "procesor": "Intel i7",
                        "age": 2008
                    }
                ];
                $scope.orderList = "name";
            });
    </script>
</body>
</html>